/*
	This file is part of ULCDocuments Web App.
	ULCDocuments Web App is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	ULCDocuments Web App is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	You should have received a copy of the GNU General Public License
	along with ULCDocuments Web App.  If not, see <http://www.gnu.org/licenses/>.
*/

/*  ULCDOCUMENTS MAIN CSS
*  @author Arnaud VERGNET <arnaud.vergnet@netc.fr>
*  Dev Entity: Blockchain-Elite (https://www.blockchain-elite.fr/)
*/

.editExtraDataTable th {
    width: auto;
}

#container {
    min-height:100%;
    position:relative;
}

#loadingScreen, #baseContainer, #indexContainer {
    margin-bottom: 0;
    /* Height of the footer */
    padding: 0 0 210px;
}

#baseContainer {
    max-width: 1600px;
}

#loadingScreen {
    height: 700px;
}

#WelcomeJumbotron {
	background-image: url('../images/bg_header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 300px;
}

#WelcomeMessage {
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: auto 15% auto 15%;
	padding: 10px;
}

@media screen and (max-width: 1000px) {
    #WelcomeJumbotron h1{
        font-size: 2.5em;
    }

    #WelcomeMessage {
        margin: auto 3% auto 3%;
    }

}

#WelcomeMessage p{
	font-size: 1.8em;
}

#loadingScreen div {
    width: 100%;
    font-size: 3rem;
    color: #7b7b7b;
    cursor: default;
}

.to-app-button {
    padding: 20px;
    width: 150px;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

#actionButtonContainer {
    display: flex;
    align-content: center;
    align-items: center;
}

#actionButtons {
    font-weight: bold;
    margin: 0 auto 0 auto;
    display: inline-flex;
}

#checkButton.btn-info {
    height: inherit;
}

#checkButton.btn-primary {
    height: 100px;
}

.sign-next-step-logo {
    font-size: 2em;
    margin: auto;
}

.adress-image {
    width: 80%;
}

.file-icon {
    height: 32px;
    margin-right: 10px;
}

.item-card {
    cursor: pointer;
    transition: 0.3s;
}
.item-card li {
    background: none !important;
}

.file-hover {
    transform: scale(1.02);
}

.file-selected {
    transform: scale(1.05);
}

#fileContainer {
    height: 600px;
    overflow-y: auto;
    transition: 0.3s;
}

#textBox {
    width: 100%;
    height: 100%;
}

#hashBox {
    width: 100%;
    height: 100%;
}

.empty-item-list, .empty-file-details{
    min-height: 100%;
}

.drop-hover {
    background: #cbc8c8;
    border-radius: 40px;
}

#dropZone {
    transition: 0.5s;
}

.file-state-icon {
    font-size: 3rem;
    vertical-align: middle;
    width: 100%;
}

.text-state-icon, .hash-state-icon {
    font-size: 1.5rem;
    vertical-align: middle;
}

.main-card-nav button {
    font-size: 1.5rem;
}

#actionProgressHolder {
    height: 3rem;
    font-size: 1.2em;
}

.collapseIcon {
    font-size: 1.5em;
}

.collapseHeaderSeparator {
    border-left: solid 1px #7b7b7b;
}

.text-area {
    width: 100%;
    min-height: 100px;
    overflow-y: visible;
}

.empty-item-list {
    cursor: pointer;
}

.text-state-icon, .hash-state-icon {
    width: 3rem;
}

#textBox, #dropZone, #hashBox {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: inherit; /* Chrome fix for height: 100%*/
    width: 100%;
}

.file-info {
    width: 80%;
}

#FileBlockchainInfoZone {
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#kernelConnectionEditButton {
    position: absolute;
    right: 0;
    margin: 10px;
}

.custom-checkbox {
    line-height: 30px;
}

#moderatorButtons {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

#kernelImgContainer {
    margin-left: auto;
    display: flex;
    width: 300px;
    height: 300px;
}

#kernelImg {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#kernelInfoBody {
    height: 400px;
    padding: 0;
    overflow-y: auto;
}

#kernelInfoZone {
    display: inline-flex;
    margin: 0;
    height: 100%;
    width: 100%;
}

#kernelInfoCol {
    margin: auto;
    display: inline-flex;
}

#kernelInfoText {
    display: block;
    margin: auto auto auto 0;
    height: fit-content;
    height: -moz-fit-content
}

#kernelAdditionalInfoZone {
    display: block;
}

#signActionButtonContainer {
    display: inline-flex;
}

#buttonsContainer {
    display: block;
    width: 150px;
}
#buttonsContainer button {
    width: 100%;
}

#kernelInfoEmptyZone {
    height: 100%;
    display: flex;
}

#mainCardBody {
    min-height: 1050px;
}

#kernelAddressInput {
    max-width: 600px;
    margin: auto;
}

#kernelInput, #moderatorInput {
    margin: 0 5px;
    width: available;
    width: -moz-available;
}

#moderatorConnectedAddress, #kernelConnectedAddress {
    word-break: break-all;
}

.list-text-title, .list-hash-title, .uploaded-file-name {
    font-weight: bold;
}

@media
only screen and (max-width: 575px) {

    #textBox, #dropZone, #hashBox {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .file-state-icon {
        font-size: 2rem;
    }

    #loadingScreen, #baseContainer, #indexContainer {
        /* Height of the footer */
        padding-bottom: 300px;
    }


    #kernelInfoZone, #kernelInfoCol, #kernelInfoCol div {
        display: block;
    }

    #kernelImgContainer {
        width: 100%;
    }

    #kernelInfoText {
        margin-top: 10px;
        border: none !important;
    }

    #kernelInfoZone {
        text-align: center;
    }

    #kernelConnectionEditButton {
        position: relative;
    }

}
